sqlite3: &sqlite3
  adapter: sqlite3
  database: db/development.sqlite3
  pool: 5
  timeout: 5000

postgres: &postgres
   adapter:  postgresql
   host:     localhost
   encoding: UTF8
   database: sysflow
   username: sysflow
   password: sysflow

development: *sqlite3

test:
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000

production: *postgres
